@import "tailwindcss";

@font-face {
  font-family: "Beverly Hills";
  src: url("/src/assets/fonts/BeverlyHillsTypeface-Regular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-tangerine: "Tangerine", cursive;
  --font-beverly: "Beverly Hills", cursive;

  --color-primary: #ffc0cb;
}

@theme {
  --font-tangerine: var(--font-tangerine);
  --font-beverly: var(--font-beverly);
  --color-primary: var(--color-primary);
  --color-background: #000;
  --color-text: #fff;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: 20px;
  line-height: 1.5;
  font-family: var(--font-tangerine);
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-beverly);
}
